<mat-card class="form">
    <h1 class="title">Ulogujes se</h1>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput type="text" 
            name="username"
            ngModel
            placeholder="Korisnicko ime"
            #usernameInput="ngModel"
            required
            >
            <mat-error *ngIf="usernameInput.invalid">Molimo unesite korisnicko ime</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" 
            name="email"
            ngModel
            placeholder="E-mail"
            #emailInput="ngModel"
            required
            >
            <mat-error *ngIf="emailInput.invalid">Molimo unesite e-mail</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Prijava</button>
    </form>
    <mat-error>{{message}}</mat-error>
</mat-card>


